<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-user-profile></app-user-profile>
      <app-user-address></app-user-address>
      <app-fectch-bank-account></app-fectch-bank-account>
    </div>
    <div class="col-md-8">
      <div class="mt-1">
        <ngb-tabset type="pills" [justify]="'fill'">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="fas fa-shopping-cart"></i> Shopping Cart</ng-template>
            <ng-template ngbTabContent>
              <app-user-cart></app-user-cart>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <i class="fas fa-list-ul"></i> Order History</ng-template>
            <ng-template ngbTabContent>
              <app-user-order-history></app-user-order-history>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>