<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container">
      <div class="row justify-content-center">
        <a href="https://www.facebook.com/Alitoyoucom-230812911085967/" target="_blank" class="mr-4">
          <i class="fab fa-facebook-square fa-2x"></i>
        </a>
        <a href="https://line.me/R/ti/p/%40rxc2757i" target="_blank">
          <i class="fab fa-line fa-2x"></i>
        </a>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <p class="small">@2018 COPYRIGHT: ALITOYOU.COM</p>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>