<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container">
      <div class="row justify-content-center">
        <a href="https://www.facebook.com/Alitoyoucom-230812911085967/" target="_blank" class="mr-3">
          <i class="fab fa-facebook-square fa-2x"></i>
        </a>
        <a href="https://line.me/R/ti/p/%40rxc2757i" target="_blank" class="mr-3">
          <i class="fab fa-line fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/alitoyou.com6/?hl=th" target="_blank">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="container">
      <div class="row justify-content-center">
        <img src="./assets/icon.png" height="30px" width="30px"><span class="small ml-1">version:0.6.1</span>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <p class="small"><span class="small">@2018 COPYRIGHT: ALITOYOU.COM</span></p>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>