<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <i class="fab fa-line mr-5"></i>
          <a href="https://www.facebook.com/Alitoyoucom-230812911085967/"><i class="fab fa-facebook-square mr-5"></i></a>
          <i class="fas fa-envelope-square mr-5"></i>
          <i class="fab fa-youtube-square"></i>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <p class="small">@2018 Copyright: alitoyou.com</p>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>