<div *ngIf="orders | async; let items">
    <div class="row">
      <div *ngFor="let cart of items" class="col-12">
        <div class="card mt-1">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <span class="badge badge-success">
                <div>
                  <i class="fas fa-tags mr-1"></i>
                  <small>{{cart.grandTotal}} THB</small>
                </div>
              </span>
              <div class="dc"></div>
              <div>
                <i class="fas fa-calendar-alt"></i>
                <small>{{convert(cart.time) | date:'medium':'th'}}</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div *ngFor="let item of cart.items" class="col-6 col-md-4 col-lg-3 mt-1">
              <div *ngIf="item.sku.image;else desc">
                <img [src]="item.sku.image" class="rounded" height="35px" width="35px" [routerLink]="['/product',cart.pid]">
                <span class="badge badge-danger ml-1">
                  <small>{{item.size.desc}}*{{item.qty}} pcs</small>
                </span>
              </div>
              <ng-template #desc>
                {{item.sku.desc}}
                <span class="badge badge-danger ml-1">
                  <small>{{item.size.desc}}*{{item.qty}} pcs</small>
                </span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="items.length === 0">
      <div class="card text-center mt-1">
        <div class="card-body">
          <p>
            <i class="fas fa-list-ul fa-2x"></i>
          </p>
          <small>Order history is empty...</small>
        </div>
      </div>
    </div>
  </div>
