<div *ngIf="orders | async; let items">
  <div class="row">
    <div *ngFor="let cart of items" class="col-12">
      <div class="card mt-1">
        <div class="card-header">
          <app-status-bar [status]="cart.data.status"></app-status-bar>
          <div ngbDropdown class="d-inline-block">
              <i class="fas fa-cog" id="dropdownBasic1" ngbDropdownToggle></i>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" (click)="editStatus(cart)">Cancel this order</button>
              </div>
            </div>
        </div>
        <div class="card-body">
          <ul *ngFor="let cid of cart.data.cartArray" class="list-group list-group-flush">
            <li class="list-group-item">
              <app-cartbyid [id]="cid"></app-cartbyid>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center">
            <span class="badge badge-success">
              <div>
                <i class="fas fa-tags mr-1"></i>
                <small>{{cart.data.grandTotal}} THB</small>
              </div>
            </span>
            <div class="dc"></div>
            <div>
              <i class="fas fa-calendar-alt"></i>
              <small>{{convert(cart.data.time) | date:'medium':'th'}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="items.length === 0">
    <div class="card text-center mt-1">
      <div class="card-body">
        <p>
          <i class="fas fa-list-ul fa-2x"></i>
        </p>
        <small>Order history is empty...</small>
      </div>
    </div>
  </div>
</div>