<div *ngIf="isLoading">
    <app-loading-spinner class="m-5"></app-loading-spinner>
  </div>
<div *ngIf="orders; let items">
  <div class="row">
    <div *ngFor="let cart of items" class="col-12 mb-3">
      <div class="card mt-1">
        <div class="card-header alert alert-info">
          <div class="d-flex align-items-center">
            <app-status-bar [status]="cart.data.status"></app-status-bar>
            <div ngbDropdown class="d-inline-block">
              <i class="fas fa-cog" id="dropdownBasic1" ngbDropdownToggle></i>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item btn btn-danger btn-sm" [disabled]="isOver12h(cart)" (click)="editStatus(cart)">Cancel this order(within 12hours)</button>
              </div>
            </div>
            <div class="dc"></div>
            <div>
              <i class="fas fa-shipping-fast mr-1"></i><span class="small">get before:</span>
              <small>{{plusdays(cart.data.time) | date:'mediumDate':'th'}}</small>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ul *ngFor="let cid of cart.data.cartArray" class="list-group list-group-flush">
            <li class="list-group-item">
              <app-cartbyid [id]="cid"></app-cartbyid>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="d-flex align-items-center">
            <span class="badge badge-success">
              <div>
                <i class="fas fa-tags mr-1"></i>
                <small>Total: {{cart.data.grandTotal}} THB</small>
              </div>
            </span>
            <img *ngIf="cart.data.billUrl" (click)="showbill(cart.data.billUrl)" [src]="cart.data.billUrl" class="ml-2 rounded" height="30px">
            <div class="dc"></div>
            <div>
              <i class="fas fa-calendar-alt"></i>
              <small>{{convert(cart.data.time) | date:'medium':'th'}}</small>
            </div>
          </div>
          <div class="mt-1" *ngIf="cart.data.shippingCost>0">
            <span class="badge badge-info">
              <small>Shipping Cost: {{cart.data.shippingCost}} THB</small>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="items.length === 0">
    <div class="card text-center mt-1 mb-3">
      <div class="card-body">
        <p>
          <i class="fas fa-list-ul fa-2x"></i>
        </p>
        <small>Order history is empty...</small>
      </div>
    </div>
  </div>
</div>