<div>
  <h1 *ngIf="info.isDesktop" class="text-center"><i class="fas fa-desktop"></i></h1>
  <h1 *ngIf="!info.isDesktop" class="text-center"><i class="fas fa-mobile-alt"></i></h1>
  <p class="text-center">
    Check {{info.keyword}} from 
  </p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a [href]="info.aliUrl" target="_blank">1688.COM Good for bulk purchase</a></li>
    <li class="list-group-item"><a [href]="info.jdUrl" target="_blank">JD.COM ,a retail platform</a></li>
  </ul>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
