<div *ngIf="cart | async as c">
  <div class="row">
    <p class="small text-center">{{c.name}}</p>
  </div>
  <div class="row">
    <div *ngFor="let item of c.items" class="col-6 col-md-4 mb-1">
      <div>
        <img *ngIf="item.sku.image;else showMainImg" [src]="item.sku.image" class="rounded" height="35px" width="35px" [routerLink]="['/product',c.pid]">
        <ng-template #showMainImg>
          <img [src]="c.imageUrl" class="rounded" height="35px" width="35px" [routerLink]="['/product',c.pid]">
        </ng-template>
        <span class="badge badge-light ml-1">
          <small>{{item.size.thSkuS}}*{{item.qty}} pcs</small>
        </span>
      </div>
    </div>
  </div>
  <div class="row float-right">
    <p class="small font-weight-bold font-italic">Subtotal: {{c.subTotal}} บาท</p>
  </div>
</div>