<div *ngIf="cart | async as c">
  <div class="row">
    <p class="small text-center">{{c.name}}</p>
  </div>
  <div class="row">
    <div *ngFor="let item of c.items" class="col-12 col-md-6 col-lg-4">
      <div *ngIf="item.sku.image; else noimg">
        <img [src]="item.sku.image" class="rounded" height="35px" width="35px" [routerLink]="['/product',c.pid]">
        <span class="badge badge-light ml-1">
          <small>{{item.size.thDesc}}*{{item.qty}} pcs</small>
        </span>
      </div>
      <ng-template #noimg>
        <img [src]="c.imageUrl" class="rounded" height="35px" width="35px" [routerLink]="['/product',c.pid]">
        <span class="badge badge-light ml-1">
          <small>{{item.sku.thDesc}}@{{item.size.thDesc}}*{{item.qty}} pcs</small>
        </span>
      </ng-template>
    </div>
  </div>
</div>