<div class="box" *ngIf="showSpinner">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="product.name" class="container">
  <div class="row">
    <div class="preview col-md-6">
      <div class="preview-pic tab-content">
        <div class="tab-pane" *ngFor="let img of product.images; let k = index" [class.active]="!k" [id]="k">
          <img [src]="img">
        </div>
      </div>
      <ul class="preview-thumbnail nav nav-tabs">
        <li *ngFor="let img of product.images; let j = index" [class.active]="!j">
          <a [attr.data-target]="'#'+j" data-toggle="tab">
            <img [src]="img">
          </a>
        </li>
      </ul>
    </div>
    <div class="details col-md-6">
      <h5 class="product-title">{{product.name}}</h5>
      <table class="table table-sm table-hover">
        <tbody>
          <tr>
            <th scope="row">ราคา</th>
            <td *ngFor="let info of product.trade_info">{{info.price | cny2thb}}</td>
          </tr>
          <tr>
            <th scope="row">ปริมาณ</th>
            <td *ngFor="let info of product.trade_info">>={{info.min_num}} pcs</td>
          </tr>
        </tbody>
      </table>
      <div class="p-1">
        <app-calculator [sku]="product.sku" [pid]="product.pid" [info]="product.trade_info" [image]="product.images[0]"></app-calculator>
      </div>
    </div>
  </div>
  <div *ngIf="product.detail" class="p-1">
    <hr class="line">
    <div class="row">
      <div *ngFor="let img of product.detail" class="col-4">
        <img [src]="img">
      </div>
    </div>
  </div>
</div>