/* Styles for tab labels */
.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: white;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    color: #ff5733;
}

.mycal {
    border: 1px solid #ff5733;
    border-radius: 4px;
}