<div *ngIf="isObject(sku[0])">
  <div *ngFor="let s of sku" class="p-1">
    <div *ngIf="s.values[0].image; else noImage">
      <div class="card">
        <div class="card-header">
          {{s.label}}
        </div>
        <div class="card-body">
          <span *ngFor="let val of s.values" class="mr-1">
            <img class="border border-secondary rounded" [src]="val.image" height="40px" width="40px">
          </span>
        </div>
      </div>
    </div>
    <ng-template #noImage>
      <div class="card">
        <div class="card-header">
          {{s.label}}
        </div>
        <div class="card-body">
          <span *ngFor="let val of s.values" class="mr-1">
            <button type="button" class="btn btn-outline-secondary btn-sm">{{val.desc}}</button>
          </span>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<div [ngSwitch]="skuType()">
  <div *ngSwitchCase="'typeone'">
      <div *ngIf="sku[0].values[0].image;else noImage">
          <mat-tab-group>
            <mat-tab *ngFor="let val of sku[0].values">
              <ng-template mat-tab-label>
                <img class="border border-secondary rounded" [src]="val.image" height="40px" width="40px">
              </ng-template>
              <div *ngFor="let co of sku[1].values">
                <app-qtypicker [size]="co" [color]="val"></app-qtypicker>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <ng-template #noImage>
          <mat-tab-group>
            <mat-tab *ngFor="let val of sku[0].values">
              <ng-template mat-tab-label>
                {{val.desc}}
              </ng-template>
              <div *ngFor="let co of sku[1].values">
                <app-qtypicker [size]="co" [color]="val"></app-qtypicker>
              </div>
            </mat-tab>
          </mat-tab-group>
        </ng-template>
  </div>
  <div *ngSwitchCase="'typetwo'">
    <div *ngFor="let val of sku[0].values">
      <app-qtypicker [size]="val" [color]="val"></app-qtypicker>
    </div>

  </div>
  <div *ngSwitchCase="'typethree'">
    <app-qtypicker [size]="{desc:'one size'}" [color]="{desc:'one color'}"></app-qtypicker>
  </div>
  <div *ngSwitchDefault>
    error msg
  </div>
</div>
<hr class="line">
<div *ngIf="!overMin(); else over">
  <p class="text-danger">Minimun order is {{info[0].min_num}} pcs</p>
</div>
<ng-template #over>
  <div *ngIf="pc(); let p">
    <p class="text-right small text-success">{{p.qty}} pcs * {{p.cp}} THB/pcs = {{p.price}} THB</p>
    <p class="text-right small text-success">Shipping cost(<span class="text-danger">*min is 199 Baht</span>) = {{p.sc | ceil}} THB</p>
    <p class="text-right small text-danger">Suggested sell price {{p.sugPrice}} THB*{{p.qty}} pcs = {{p.sugPrice*p.qty}} THB</p>
    <p class="text-right small text-info">potential earning is
      <span class="badge badge-danger">{{p.qty*(p.sugPrice-p.cp-costSheet.land*uw) | ceil}}</span> THB</p>
  </div>
</ng-template>
<hr class="line">
<div>
  <div class="d-flex">
    <button type="button" [disabled]="!overMin()" class="btn btn-primary flex-fill mr-1" (click)="add2cart($event.target)">Add Cart</button>
    <button type="button" [disabled]="!overMin()" class="btn btn-success flex-fill ml-1" (click)="buynow($event.target)">Buy Now</button>
  </div>
</div>