<div *ngIf="sku.values">
  <div class="card">
    <div class="card-header bg-transparent">
      {{sku.thLabel}}
    </div>
    <div class="card-body">
      <span *ngFor="let val of sku.values" class="mr-1">
        <span *ngIf="val.image;else noImage">
          <img class="border border-secondary rounded mr-1" [src]="val.image" height="40px" width="40px" (click)="viewbig()">
        </span>
        <ng-template #noImage>
          <span>{{val.thDesc}}</span>
        </ng-template>
      </span>
    </div>
  </div>
</div>
<div [ngSwitch]="skuType()">
  <div *ngSwitchCase="'typeone'">
    <mat-tab-group>
      <mat-tab *ngFor="let val of sku.values">
        <ng-template mat-tab-label>
          <span *ngIf="val.image; else showDesc">
            <img class="border border-secondary rounded" [src]="val.image" height="40px" width="40px">
          </span>
          <ng-template #showDesc>
            {{val.thDesc}}
          </ng-template>
        </ng-template>
        <div *ngFor="let co of val.skus">
          <app-qtypicker [val]="val" [co]="co"></app-qtypicker>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div *ngSwitchCase="'typethree'">
    <app-qtypicker></app-qtypicker>
  </div>
  <div *ngSwitchDefault>
    error msg
  </div>
</div>
<div class="mycal mt-2 mb-2">
  <div *ngIf="!overMin(); else over" class="mt-2">
    <p class="small text-center"><i class="fas fa-exclamation-circle"></i>ซื้อขั้นต่ำ {{info[0].min_num}} pcs</p>
  </div>
  <ng-template #over>
    <!--
      <div *ngIf="pc(); let p" class="mr-1">
      <p class="text-right small font-weight-normal">{{p.qty}} pcs * {{p.cp}} บาท/pcs = {{p.price}} บาท</p>
      <p class="text-right small font-weight-normal">Shipping cost(
        <span class="font-weight-light">*min is {{costSheet.minShippingCost}} บาท</span>) = {{p.sc}} บาท</p>
      <p class="text-right small">Suggested sell price {{p.sugPrice}} บาท*{{p.qty}} pcs = {{p.sugPrice*p.qty}} บาท</p>
      <p class="text-right small font-weight-bold">potential earning is
        <span class="badge badge-primary">{{p.qty*(p.sugPrice-p.cp)-p.sc}}</span> บาท</p>
      <p class="text-right small text-dark">
        <i class="fas fa-shipping-fast mr-1"></i>Shipping duration :{{costSheet.landDuration}} days</p>
    </div>
    -->
    {{subAndQty | json}}
    
  </ng-template>
</div>
<div>
  <div class="d-flex">
    <button type="button" [disabled]="!overMin()" class="btn btn-warning btn-lg flex-fill" (click)="add2cart()">
      <span *ngIf="!adding" class="text-white">เพิ่มในรถเข็น</span>
      <app-small-spinner *ngIf="adding"></app-small-spinner>
    </button>
  </div>
</div>