<div *ngIf="isObject(sku[0])">
  <div *ngFor="let s of sku" class="p-1">
    <div *ngIf="s.values[0].image; else noImage">
      <div class="card">
        <div class="card-header">
          {{s.label}}
        </div>
        <div class="card-body">
          <span *ngFor="let val of s.values" class="mr-1">
            <img class="border border-secondary rounded" [src]="val.image" height="40px" width="40px">
          </span>
        </div>
      </div>
    </div>
    <ng-template #noImage>
      <div class="card">
        <div class="card-header">
          {{s.label}}
        </div>
        <div class="card-body">
          <span *ngFor="let val of s.values" class="mr-1">
            <button type="button" class="btn btn-outline-secondary btn-sm">{{val.desc}}</button>
          </span>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<div *ngIf="isObject(sku[0])">
  <div *ngIf="sku[0].values[0].image;else noImage">
    <mat-tab-group>
      <mat-tab *ngFor="let val of sku[0].values">
        <ng-template mat-tab-label>
          <img class="border border-secondary rounded" [src]="val.image" height="40px" width="40px">
        </ng-template>
        <div *ngFor="let co of sku[1].values">
          <app-qtypicker [size]="co" [color]="val"></app-qtypicker>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <ng-template #noImage>
      <mat-tab-group>
          <mat-tab *ngFor="let val of sku[0].values">
            <ng-template mat-tab-label>
              {{val.desc}}
            </ng-template>
            <div *ngFor="let co of sku[1].values">
              <app-qtypicker [size]="co" [color]="val"></app-qtypicker>
            </div>
          </mat-tab>
        </mat-tab-group>
  </ng-template>
</div>
<div>
  <ul>
    <li *ngFor="let item of items">{{item.sku.desc}}@{{item.size.desc}}****{{item.qty}}</li>
  </ul>
</div>
<div>
 My total is: {{total}}
</div>