<div class="d-flex align-items-center m-1">
    <div>{{size.desc}}</div>
    <div class="dc"></div>
    <div class="">
        <div class="input-group input-group sm">
            <div class="input-group-prepend">
                <button type="button" (click)="des()" class="btn btn-outline-success btn-sm btt">-</button>
            </div>
            <input class="qty" type="number" [(ngModel)]="qty" disabled>
            <div class="input-group-append">
                    <button type="button" (click)="inc()" class="btn btn-outline-success btn-sm btt">+</button>
            </div>
        </div>
    </div>
</div>