<div class="d-flex align-items-center m-1 p-1 border-bottom">
    <div>
        <span class="small"><span class="font-weight-bold">{{co.thSkuS}}</span>
        <span class="font-weight-light p-2">{{co.price | cny2thb}}</span></span>
    </div>
    <div class="dc"></div>
    <div class="">
        <div class="input-group input-group sm">
            <div class="input-group-prepend">
                <button type="button" (click)="des()" id="btnplus"><span><i class="fas fa-minus fa-xs"></i></span></button>
            </div>
            <input id="qty" type="number" [(ngModel)]="qty" disabled>
            <div class="input-group-append">
                <button type="button" (click)="inc()" id="btnplus"><span><i class="fas fa-plus fa-xs"></i></span></button>
            </div>
        </div>
    </div>
</div>