<div class="jumbotron">
  <h1 class="text-center text-dark">
    <img src="./assets/icon.png" class="rounded-circle"> ALITOYOU.COM</h1>
  <h6 class="text-center">
    <img src="./assets/alibaba.png" height="35px">
    <span class="font-weight-bold text-dark">1688.COM & JD.COM</span> <span class="font-weight-bold text-dark"> ตัวแทนจัดหา </span></h6>
  <hr class="my-2">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <h4 class="text-center text-dark font-weight-bold p-3"><i class="fas fa-paste"></i> คัดลอกและวาง URLS </h4>
      <input class="form-control" placeholder="URLS มาจาก 1688.com และ JD.com" (paste)="callApi($event)">
    </div>
    <div class="col col-sm-12 col-md-6">
      <button type="button" [routerLink]="['/urlapi']" class="btn btn-warning btn-block mt-4 mb-3 font-weight-bold text-white">
        ไป
      </button>
    </div>
  </div>
  <hr class="my-4">
  <div class="row" *ngIf="cms.costSheet">
    <div class="col-12 col-md-4 mb-3 py-2">
      <div class="card leftborder h-100">
        <div class="card-body">
          <h5 class="font-weight-bold text-dark text-center">ค่าขนส่ง</h5>
          <p class="font-weight-bold text-dark text-left">
            <span><i class="fas fa-weight"></i></span>
            น้ำหนัก ราคา {{cms.costSheet.land}} บาท ต่อ กิโลกรัม</p>
          <p class="font-weight-bold text-dark text-left">
            <span><i class="fas fa-cube"></i></span>
            ขนาด {{cms.costSheet.landCube}} บาท ต่อ /10CM*10CM*10CM
          </p>
          <p class="font-weight-bold text-dark text-left">
            <span><i class="fas fa-shipping-fast"></i></span>
            ระยะเวลาในการขนส่ง {{cms.costSheet.landDuration}} วัน</p>
          <small class="font-weight-bold">
            <span><i class="fas fa-exclamation-circle"></i></span>
            NOTICE!การขนส่งอาจจะล่าช้าภายใต้สภาพอากาศเลวร้าย</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3 py-2">
      <div class="card leftborder h-100">
        <div class="card-body">
          <h5 class="font-weight-bold text-dark text-center">ค่าบริการ</h5>
          <p class="font-weight-bold text-dark text-left">
            <span class="text-warning"><i class="fas fa-chart-pie"></i></span>
            {{cms.costSheet.scr*100}}% ของมูลค่าสินค้า</p>
            <p class="font-weight-bold text-dark text-left">
              <span><i class="fas fa-exchange-alt"></i></span>
              ใช้อัตราแลกเปลี่ยนตามจริง ที่ 1 CNY = {{cms.costSheet.rate}} บาท
            </p>
          <small class="font-weight-bold">
            <span><i class="fas fa-exclamation-circle"></i></span>
            ชำระค่าขนส่งเมื่อได้รับสินค้าเรียบร้อย</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3 py-2">
      <div class="card leftborder h-100">
        <div class="card-body">
          <h5 class="font-weight-bold text-dark text-center">
            <i class="fas fa-check-circle text-warning"></i>ทำไมต้อง ALITOYOU</h5>
            <p class="font-weight-bold text-dark text-left">
              <span class="text-success"><i class="fas fa-hand-holding-usd"></i></span>
              ประกันเงินคืน หากสินค้าหายหรือเสียหาย</p>
              <p class="font-weight-bold text-dark text-left">
                  <span class="text-success"><i class="fas fa-money-check-alt"></i></span>
                  แนะนำสินค้าที่สามารถทำกำไรให้แก่ท่าน</p>
            
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-md-3 mb-2">
      <div class="text-center">
        <p>
          <img src="./assets/damage.png" height="80px">
        </p>
        <small class="my1688 font-weight-bold">การคืนเงินความเสียหาย</small>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-2">
      <div class="text-center">
        <p>
          <img src="./assets/lost.png" class="rounded-circle" height="80px">
        </p>
        <small class="my1688 font-weight-bold">สูญหาย</small>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-2">
      <div class="text-center">
        <p>
          <img src="./assets/shipping.png" class="rounded-circle" height="80px">
        </p>
        <small class="my1688 font-weight-bold">จัดส่งค่าใช้จ่ายต่ำ</small>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-2">
      <div class="text-center">
        <p>
          <img src="./assets/door.png" class="rounded-circle" height="80px">
        </p>
        <small class="my1688 font-weight-bold">ส่งถึงบ้าน</small>
      </div>
    </div>
  </div>
</div>