<div class="jumbotron" id="slide3">
  <h1 class="text-center text-dark">
    <img src="./assets/icon.png" class="rounded-circle"> ALITOYOU.COM</h1>
  <h6 class="text-center">
    <img src="./assets/alibaba.png" height="35px">
    <span class="font-weight-bold text-dark">1688.COM</span> SOURCING AGENT</h6>
  <hr class="my-4">
  <div class="row">
    <div class="col-6 col-md-2 mb-2">
      <div class="text-center">
        <p>
          <img src="./assets/cod.png" height="80px">
        </p>
        <small class="my1688 font-weight-bold">เงินสดเมื่อจัดส่ง</small>
      </div>
    </div>
    <div class="col-6 col-md-2 mb-2">
      <div class="text-center">
        <p>
          <img src="./assets/damage.png" height="80px">
        </p>
        <small class="my1688 font-weight-bold">การคืนเงินความเสียหาย</small>
      </div>
    </div>
    <div class="col-6 col-md-2 mb-2">
      <div class="text-center">
        <p>
          <img src="./assets/lost.png" class="rounded-circle" height="80px">
        </p>
        <small class="my1688 font-weight-bold">สูญหาย</small>
      </div>
    </div>
    <div class="col-6 col-md-2 mb-2">
      <div class="text-center">
        <p>
          <img src="./assets/profit.png" class="rounded-circle" height="80px">
        </p>
        <small class="my1688 font-weight-bold">สินค้าที่ทำกำไรได้</small>
      </div>
    </div>
    <div class="col-6 col-md-2 mb-2">
      <div class="text-center">
        <p>
          <img src="./assets/shipping.png" class="rounded-circle" height="80px">
        </p>
        <small class="my1688 font-weight-bold">จัดส่งค่าใช้จ่ายต่ำ</small>
      </div>
    </div>
    <div class="col-6 col-md-2 mb-2">
      <div class="text-center">
        <p>
          <img src="./assets/door.png" class="rounded-circle" height="80px">
        </p>
        <small class="my1688 font-weight-bold">ส่งถึงบ้าน</small>
      </div>
    </div>
  </div>
  <hr class="my-4">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <h4 class="text-center text-dark font-weight-bold p-3"><i class="fas fa-paste"></i> PASTE PRODUCT URLs </h4>
      <input class="form-control" placeholder="Accept URLS from 1688.com and JD.com" (paste)="callApi($event)">
    </div>
  </div>
</div>