<div class="jumbotron bg-info">
  <h1 class="text-center text-light">
    <img src="./assets/icon.png" class="rounded-circle border border-info"> ALITOYOU.COM</h1>
  <h6 class="text-center text-light">HELPS YOU SOURCING FROM 1688.COM AND DELIVER TO YOU</h6>
  <hr class="my-4">
  <div class="row">
    <div class="col-6 col-md-2">
      <div>
        <p class="text-light p-1 text-uppercase"> Suggestion</p>
        <small class="text-center  text-light">Help you choosing the most profitable products</small>
      </div>
    </div>
    <div class="col-6 col-md-2">
      <div>
        <p class="text-light p-1 text-uppercase"> Purchase</p>
        <small class="text-center  text-light">Making order on your behalve</small>
      </div>
    </div>
    <div class="col-6 col-md-2">
      <div>
        <p class="text-light p-1 text-uppercase"> Inspection</p>
        <small class="text-center  text-light">Checking the quality and quantity before shipping out</small>
      </div>
    </div>
    <div class="col-6 col-md-2">
      <div>
        <p class="text-light p-1 text-uppercase"> Shipping</p>
        <small class="text-center  text-light">We arrange shipping from China directly to your address</small>
      </div>
    </div>
    <div class="col-6 col-md-2">
      <div>
        <p class="text-light p-1 text-uppercase"> Morniting</p>
        <small class="text-center  text-light">We track the shipping and update the status to you</small>
      </div>
    </div>
    <div class="col-6 col-md-2">
      <div>
        <p class="text-light p-1 text-uppercase"> Returning</p>
        <small class="text-center  text-light">If your are not satisfied with the order, we help you do the returning or changing</small>
      </div>
    </div>
  </div>
  <hr class="my-4">
  <h5 class="text-center text-light">Choose from our selection products or go to 1688.com, find your prouduct and paste the product Url.</h5>
  <div class="container">
    <div class="row justify-content-center">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Product link">
      </div>
      <button class="btn btn-danger text-center">BUY PRODUCT</button>
    </div>
  </div>
</div>