#slide3 {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/alitoyou-168.appspot.com/o/BANNER%2Fcontainer_ship_kit8-net.png?alt=media&token=ab280478-73b7-43cc-9107-40bd6f82e779");
    background-color: #cccccc;
    background-size:     cover;   
    background-repeat:   no-repeat;
    background-position: center center;
}

.my1688 {
    color:white;
    background-color:#dd0031;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px;
    padding-top: 4px;
}