<div *ngIf="(carts | async)?.length === 0">
  <div class="card text-center">
    <div class="card-header">
      <i class="fas fa-shopping-cart"></i>
    </div>
    <div class="card-body">
      <p>
        <i class="fas fa-list-ul fa-2x"></i>
      </p>
      <small>Cart is empty...</small>
    </div>
  </div>
</div>
<div class="row">
  <div *ngFor="let cart of carts | async" class="col-sm-12">
    <div class="card mt-1">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <span class="badge badge-success"><div><i class="fas fa-tags mr-1"></i><small>{{cart.qty}}pcs*{{cart.price}}THB/pcs={{cart.total}} THB</small></div></span>
          <div class="dc"></div>
          <div><i class="fas fa-calendar-alt"></i><small>{{convert(cart.time) | date:'medium':'th'}}</small></div>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let item of cart.items" class="col-6 col-md-4 col-lg-3 m-1">
          <div *ngIf="item.sku.image;else desc">
            <img [src]="item.sku.image" class="rounded" height="40px" width="40px" 
            [routerLink]="['/product',cart.pid]">
            <span class="badge badge-danger"><small>{{item.size.desc}}*{{item.qty}} pcs</small></span>
          </div>
          <ng-template #desc>
            {{item.sku.desc}}<span class="badge badge-danger"><small>{{item.size.desc}}*{{item.qty}} pcs</small></span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>