<div class="container">
  <div class="row justify-content-center mybg">
    <div class="col-sm-12 col-md-8 mybox text-center">
        <h1 class="text-center text-dark font-weight-bold">1688.COM TAOBAO.COM JD.COM</h1>
      <h4 class="text-center text-dark font-weight-bold p-3">
        <i class="fas fa-paste"></i> Paste Url</h4>
      <input class="form-control" placeholder="Paste Url here" [(ngModel)]="url">
      <br>
      <br>
      <button type="button" class="btn btn-warning text-white" *ngIf="url" (click)="callApi()">BUY PRODUCT</button>
      <br>
      <br>
      <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      {{prdData | json}}
    </div>
  </div>
</div>