<div class="container" style="margin-top: 5%">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 text-center">
      <a href="https://1688.com" target="_blank"><img src="./assets/1688.png" height="80px" width="80px" class="mr-5"></a>
      <a href="https://www.jd.com" target="_blank"><img src="./assets/jd.jpg" height="80px" width="80px"></a>
      <a href="https://1688.com" target="_blank"></a>
      <h1 class="text-center mt-3">
        <a href="https://1688.com" target="_blank"><span class="text-dark font-weight-bold">1688.COM</span></a>
      </h1>
      <h1 class="text-center">
        <a href="https://www.jd.com" target="_blank"><span class="text-dark font-weight-bold">JD.COM</span></a>
      </h1>
      <h4 class="text-center text-dark font-weight-bold p-3">
        <i class="fas fa-paste"></i> PASTE URL</h4>
      <input class="form-control" placeholder="Paste Url here" [(ngModel)]="url">
      <br>
      <br>
      <button type="button" class="btn btn-warning btn-block text-white font-weight-bold" *ngIf="url" (click)="callApi()">CHECK
        PRODUCT
      </button>
      <br>
      <br>
      <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
      <ngb-alert *ngIf="apiError" [dismissible]="false">
        <strong>Warning!</strong> Only accept URL from 1688.com and JD.com
      </ngb-alert>
    </div>
  </div>
  <div *ngIf="localPrds.length>0" class="row justify-content-center" >
    <div class="card text-center w-100 p-3">
      <h5 class="text-center text-dark">Search History</h5>
      <div class="card-body">
      <span *ngFor="let prd of localPrds">
      <img [src]="prd.images[0]" 
      class="rounded-circle mr-1 mb-1" 
      width="50px" height="50px"
      [routerLink]="['/product',prd.pid]"
      >
    </span>
    </div>
    </div>
  </div>
  <div class="row" *ngIf="!prdData">
      <div class="emptybox"></div>
    </div>
  <div *ngIf="prdData" class="row justify-content-center">
    <div class="col-sm-12 col-md-8 text-center">
      <ngb-alert [dismissible]="false">
        <strong>Notice! </strong>
        <span> If the price is different from the original websiet, please contact us to change the price.</span>
        <span class="text-success">
          <a href="https://line.me/R/ti/p/%40rxc2757i" target="_blank">
            <i class="fab fa-line fa-2x text-success"></i>
          </a>
        </span>
      </ngb-alert>
    </div>
    <div class="col-12">
      <app-api-product-detail></app-api-product-detail>
    </div>
  </div>
</div>