<mat-tab-group>
  <mat-tab label="Sign In">
    <div class="card">
      <div class="card-body">
        <p>
          <button class="btn btn-block btn-danger" (click)="googlelogin()">
            <i class="fab fa-google"></i>   Login via Google</button>
          <button class="btn btn-block btn-primary" (click)="fblogin()">
            <i class="fab fa-facebook-f"></i>   Login via facebook</button>
        </p>
        <hr>
        <form role="form" #formData='ngForm' (ngSubmit)="loginWithEmail(formData)">
          <fieldset>
            <div class="form-group">
              <input autofocus class="form-control" type="email" placeholder="Email address.." name="email" (ngModel)="email" required>
            </div>
            <!-- form-group// -->
            <div class="form-group">
              <input type="password" placeholder="Password" name="password" (ngModel)="password" class="form-control" required>
            </div>
            <span *ngIf="loginerror" class="text-danger">{{ loginerror }}</span>
            <!-- form-group// -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <button type="submit" [disabled]="!formData.valid" class="btn btn-primary btn-block"> Login </button>
                </div>
                <!-- form-group// -->
              </div>
              <div class="col-md-6 text-right">
                <a class="small" data-toggle="collapse" href="#resetPassword" role="button" aria-expanded="false" aria-controls="resetPassword">Forgot password?</a>
              </div>
              <div class="collapse col-12" id="resetPassword">
                <hr>
                <form role="form" #emailData='ngForm' (ngSubmit)="resetpassword(emailData)">
                  <input autofocus class="form-control" type="email" placeholder="Email address.." name="emailp" (ngModel)="emailp" required>
                  <button type="submit" [disabled]="!emailData.valid" class="btn btn-primary btn-block mt-2"> Send email to reset password </button>
                </form>
                <span *ngIf="resetError" class="text-danger">{{ resetError }}</span>
                <span *ngIf="resetSuccessMsg" class="text-success">{{ resetSuccessMsg }}</span>
              </div>
            </div>
          </fieldset>
          <!-- .row// -->
        </form>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Sign Up">
    <div class="card">
      <div class="card-body">
        <form role="form" #signupData='ngForm' (ngSubmit)="signup(signupData)">
          <fieldset>
            <div class="form-group">
              <input autofocus class="form-control" type="email" placeholder="Email address.." name="emails" (ngModel)="emails" required>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name="passwords" (ngModel)="passwords" class="form-control" required>
            </div>
            <span *ngIf="signupError" class="text-danger">{{ signupError }}</span>
            <span *ngIf="signupSuccessMsg" class="text-success">{{ signupSuccessMsg }}</span>
            <div class="form-group">
              <button type="submit" [disabled]="!signupData.valid" class="btn btn-primary btn-block"> Sign Up </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>