<app-banner></app-banner>
<div class="container">
  <!--
    <div class="box" *ngIf="spin">
    <app-loading-spinner></app-loading-spinner>
  </div>
  -->
  <div class="row">
    <div *ngFor="let prd of homePagePrds | async" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 bg-light" (click)="passPrd(prd)"
      [routerLink]="['/product',prd.pid]">
      <app-prd-thumbnail-card [prd]="prd"></app-prd-thumbnail-card>
    </div>
  </div>
  <div class="container">
      <div class="row justify-content-md-center">
          <div class="col col-12 col-md-8">
            <button (click)="loadmore()" [disabled]="isDone | async" type="button" class="btn btn-warning btn-sm btn-block mt-2 mb-3">
              <span *ngIf="!spin">
                <i class="fas fa-download mr-2"></i>Load more...
              </span>
              <span *ngIf="spin">
                <app-small-spinner></app-small-spinner>
              </span>
            </button>
          </div>
      </div>
  </div>
</div>