<app-banner></app-banner>
<div class="container">
  <!--
    <div class="box" *ngIf="spin">
    <app-loading-spinner></app-loading-spinner>
  </div>
  -->
  <div class="row">
    <div *ngFor="let prd of homePagePrds | async" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 bg-light" (click)="passPrd(prd)"
      [routerLink]="['/product',prd.pid]">
      <div class="card">
        <div>
          <img class="card-img-top" [src]="prd.images[0]">
        </div>

        <div class="card-title pl-1 pr-1 pt-1">
          <span class="text-danger font-weight-bold">{{prd.price | cny2thb}}</span>
          <span class="float-right badge badge-success">{{prd.sales_count}}sold</span>
        </div>
        <div class="card-subtitle pl-1 pr-1">
          <span class="text-info">สั่งซื้อขั้นต่ำ:{{prd.trade_info[0].min_num}} pcs</span>
          <span class="float-right"><app-rating [rate]="prd.score"></app-rating></span>
        </div> 
        <p class="clip card-text font-weight-light pl-1 pr-1">
          <small>{{prd.name}}</small>
        </p>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row justify-content-md-center">
          <div class="col col-12 col-md-8">
            <button (click)="loadmore()" type="button" class="btn btn-primary btn-sm btn-block mb-2">
              <span *ngIf="!spin">
                <i class="fas fa-download mr-2"></i>Load more...
              </span>
              <span *ngIf="spin">
                <app-small-spinner></app-small-spinner>
              </span>
            </button>
          </div>
      </div>
  </div>
</div>